@model BladeMill.BLL.Models.Tool

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ToolNc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolIDPreLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolIDPreLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toollen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toollen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolDiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolDiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolCrn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolCrn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spindle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spindle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
