@model BladeMill.BLL.Models.VarpoolXmlFile

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>VarpoolXmlFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileClampingRawBox)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileClampingRawBox)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BMTemplate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BMTemplate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClampMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClampMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DFA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DFA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BMTemplateFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BMTemplateFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HROH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HROH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BROH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BROH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LROH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LROH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FIG_N)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FIG_N)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BladeMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BladeMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MfgSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MfgSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNameAndPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectNameAndPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BladeOrientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BladeOrientation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.middleTol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.middleTol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VCprojectTemplate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VCprojectTemplate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VarpoolFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VarpoolFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utol_HE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utol_HE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ltol_HE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ltol_HE)
        </dd>
    </dl>
</div>